.caja-modal-anuncio {
    position: absolute;
    width: 600px;
    height: 5%;
    padding: 50px;
    /* align-items: center;
    justify-content: center; */
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(204, 166, 28, 0.8);
    /* text-align: center; */
    border-radius: 15px;
    /* border: 1px solid #ffba08; */
    text-align: center;
}